<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Employee.Properties.Settings.Employee_dbConnectionString"
   connectionString="Data Source=.;Initial Catalog=Employee_db;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="ConnectionString" value="Data Source=.;Initial Catalog=Employee_db;Integrated Security=True"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>